.layout-parent {
  background-color: $gray-medium-color;
}

.layout-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.layout__header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  color: $white-color;
  @extend %sbg-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: max-height, box-shadow;
}

.layout__header.is-compact {
  max-height: 64px;
}

.layout__header.is-compact.has-tabs {
  height: 112px;
}

mat-sidenav {
  width: 320px;
  &-container {
    height: 100%;
  }
}

.layout__sidenav-button {
  display: block;
  position: absolute;
  border: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  line-height: 63px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 12px 30px;
  top: 0;
  left: 0;
  z-index: 4;
  mat-icon {
    color: $white-color;
  }
  @media all and (max-width: 640px) {
    margin-left: 8px;
  }
}

.layout__header .layout__sidenav-button {
  position: absolute;
  color: $white-color;
  background-color: inherit;
}

sbg-ui-toolbar {
  width: 100%;
}

layout-header-row:nth-child(2) {
  padding: 0px;
  height: 45px;
}

.layout__header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

.layout__header-row > * {
  flex-shrink: 0;
}

.layout__header--scroll .layout__header-row {
  width: 100%;
}

.layout__header-row .mdl-navigation {
  margin: 0;
  padding: 0;
  height: 64px;
  flex-direction: row;
  align-items: center;
}

.layout__header-row .mdl-navigation__link {
  display: block;
  color: $white-color;
  line-height: 64px;
  padding: 0 24px;
}

.layout__content {
  background-color: $gray-medium-color;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
}

sbg-ui-navbar {
  width: 100%;
}

.main-container {
  margin: 0 30px 24px 30px;

  @media all and (max-width: 639px) {
    margin: 0;
  }
}

.main-container__goal-setter {
  margin: 0 0 24px 0;

  @media all and (max-width: 639px) {
    margin: 0 0;
  }
}

.page-heading {
  margin: 24px 0 16px 0;
}

.main-container-top {
  background-color: $white-color;
  @extend %sbg-shadow;
  border-radius: 3px;
  padding: 24px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}

.main-container-bottom {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media all and (max-width: 639px) {
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait),
  only screen and (max-device-width: 768px) {
  .page-heading {
    margin: 24px 0 16px 8px;
  }

  .main-container-top {
    margin-bottom: 16px;
  }

  .main-container-bottom {
    display: block;
  }
}
