<div class="layout-flex-column-center content-container">
    <div class="layout-flex-column-center flex-50">
        <i class="material-icons icon">error_outline</i>
        <p class="t2 weight-med color-dark">Page not found</p><br>
        <p class="t4">The page you are looking for could not be found.
        </p>
    </div>
    <div class="layout-flex-row-center flex-25 home-button-container">
        <button md-raised-button class="primary" (click)="onButtonClicked()">Home</button>
    </div>
</div>