@import '../../../../../style/components/sbg-palette';

graph1 {
  background-color: $graph1;
}

graph2 {
  background-color: $graph2;
}

graph3 {
  background-color: $graph3;
}

graph4 {
  background-color: $graph4;
}

graph5 {
  background-color: $graph5;
}

graph6 {
  background-color: $graph6;
}

graph7 {
  background-color: $graph7;
}

graph8 {
  background-color: $graph8;
}

graph9 {
  background-color: $graph9;
}

graph10 {
  background-color: $graph10;
}

graph11 {
  background-color: $graph11;
}

whiteColor {
    background-color: $white-color;
}

grayMediumColor {
    background-color: $gray-medium-color;
}