<div class="layout-parent">
    <div class="layout-container background-image">
        <div class="pre-bootstrap">
            <div class="messaging">
                <p><img src='../../../assets/images/toolbar_logo.png' height="90px"></p>
                <br>
                <br>
                <br>
                <span class="welcome-text">Welcome to the</span><br>
                <span class="intro-text-large">Wealth Advisor Portal</span>
                <p class="loading"><span>.</span><span>.</span><span>.</span></p>
            </div>
        </div>
    </div>
</div>